name: "Terraform"

on:
  push:
    branches:
      - master

jobs:
  terraform:
    name: "terraform"
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY}}
      AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ID}}
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: setup terraform config
        uses: hashicorp/setup-terraform@v2

      - name: terraform formatting
        id: fmt
        run: terraform fmt -check 

      - name: terraform init
        id: init
        run: terraform init
      
      - name: terraform plan
        id: plan
        run: terraform plan

      - name: terraform apply
        id: approve
        run: terraform apply -auto-approve
